@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body, html {
  height: 100%;
  background-image: url('../Assets/imageedit_6_4868938528.png');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
}
.sabka{
    display: grid;
}

.mess{
    height: 100vh;
    width: 70px;
    display: flex;
    justify-content: flex-end;
}

.maincontent{
    margin-top: 80px;
}

.head{
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 100px;
    background-color: rgb(139, 13, 50);
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.MessageBox{
	position: fixed;
	top: 50%;
	left: 87%;
	transform: translate(-50%,-50%);
	background: #fff;
	width: 380px;
	border-radius: 3px;
  border-color: rgb(139, 13, 50);
}

.MessageBox .tab_wrap{
	padding: 25px 25px 20px 25px;
  border-color: rgb(139, 13, 50);
}

.MessageBox .tab_wrap ul{
	display: flex;
	background: #f4fafe;
	border-radius: 3px;
  border-color: rgb(139, 13, 50);
}

.MessageBox .tab_wrap ul li{
	width: 125px;
	text-align: center;
  list-style-type: none;
  background-color: rgb(139, 13, 50);
  color: #fff;
	padding: 10px;
	cursor: pointer;
	border-radius: 3px;
}

.MessageBox .tab_wrap ul li:hover,
.MessageBox .tab_wrap ul li.active{
	background: rgb(106, 9, 38);
}

.inbox{
	height: 450px;
}

.inbox ul li{
  list-style-type: none;
  border-color: rgb(139, 13, 50);
  /* background-color: rgb(139, 13, 50); */
}

.inbox li .all{
	display: flex;
	align-items: center;
	padding: 10px 20px;
  margin-bottom: 2px;
	border: 1px solid rgb(139, 13, 50);
	cursor: pointer;
  border-radius: 5px;
}

.inbox li:last-child .all{
	border-bottom: 0;
}

.inbox li .all:hover{
	background: #e4edf5;
}

.inbox li .all img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.inbox li .all .li_right{
	display: flex;
}

.inbox li .all .message{
	margin: 0 20px;
}

.inbox li .all .message .title{
	font-weight: bold;
	margin-bottom: 5px;
}

.inbox li .all .message .sub_title{
	font-size: 12px;
	line-height: 18px;
}

.inbox li .all .time{
	color: #ccc;
	font-size: 12px;
	text-align: right;
}

.inbox li .all .time_status .status{
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	background: #0058ff;
	color: #fff;
	margin-top: 15px;
	font-size: 10px;
}

  .hh{
    position: relative;
    top: 80px;
    left: 90px;
    font-size: 50px;
    font-weight: 800;
  }

  .hh2{
    position: relative;
    top: 40px;
    left: 90px;
    font-size: 50px;
    font-weight: 800;
  }

*{
    margin: 0;
    font-weight: 500;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.head .icon{
    display: flex;
    margin-right: 60px;
    align-items: center;
}

.head img{
    height: 100px;
}

.searchbar{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    padding-right: 0;
    width: fit-content;

}

.head .searchbar input{
    height: 50px;
    border-radius: 30px;
    width: 700px;
}

.cat{
    width: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#abc{
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-right: 20px;
}

.bh{
    margin-right: 20px;
}

.acc{
    background-color: white;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    padding: 5px 0 5px 5px;
}

.acc i{
    margin-right: 10px;
}

.acc a span{
    color: rgb(139, 13, 50);
    font-size: 12px;
}

.checkbox{
  position: fixed;
  top: 100px;
  left: 20px;
  background-color: white;
  width: 330px;
  height: 620px;
  border-radius: 10px;
  margin-top: 50px;
  border: 4px solid rgb(139, 13, 50);
  padding: 5px;
}

h1{
  background-color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
  font-weight: 800;
  margin-top: 5px;
  border-top: 10px;
  color: rgb(139, 13, 50);
}

.teams{
  background-color: white;
}

.teamsicon{
  display: flex;
  align-items: center;
  height: 20px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 20px;
}

.teamsicon span{
  background-color: white;
  padding: 0 10px 0 20px;
}

.teamsicon i{
  background-color: white;
  padding: 0 10px 0 20px;
}

.teamsicon p{
  background-color: white;
  padding: 0 10px 0 0;
  font-size: 20px;
}

.teamsdiv{
  background-color: white;
  margin-left: 20px;
}

.teamsdiv li{
  background-color: white;
  list-style-type: none;
}

.teamsdiv li label{
  background-color: white;
}

.material-symbols-outlined{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: rgb(139, 13, 50);
}

.maincards{
  margin: 2%;
  width: 1200px;
  position: absolute;
  top: 60px;
  left: 2%;
  height: 1600px;
 }
 
 .card{
      width: 220px;
      display: inline-block;
      box-shadow: 2px 2px 20px black;
      border-radius: 5px; 
      margin: 2%;
      height: 320px;
      background-color: white;
     }
 
 .image img{
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
  }
 
 .title{
   text-align: center;
  }
 
 h1{
   font-size: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 5px;
   margin-bottom: 5px;
  }
 
 .des{
   padding: 3px;
   text-align: center;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
 }
 
 .des p{
     margin: 0;
 }
 
 button{
   margin-top: 5px;
   margin-bottom: 10px;
   background-color: white;
   border: 2px solid rgb(106, 9, 38);
   border-radius: 5px;
   padding:10px;
 }
 button:hover{
   background-color: rgb(106, 9, 38);
   color: white;
   transition: .5s;
   cursor: pointer;
 }
 
 .pagebot{
  text-decoration: none;
  color: rgb(139, 13, 50);
  font-size: 16px;
  text-align: center;
  margin-top: 100px;
 }

 .pagebot a{
  text-decoration: none;
  color: rgb(139, 13, 50);
  font-size: 16px;
 }

#xzc{
    color: rgb(106, 9, 38);
    font-size: 65px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
    width: max-content;
}

.cat .sh{
  background-color: rgb(139, 13, 50);
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat .sh:hover{
  background-color: rgb(104, 9, 38);
}
.cat .fe:hover{
  background-color: rgb(104, 9, 38);
}

.cat .bh:hover{
  background-color: rgb(104, 9, 38);
}

.cat .fe{
  background-color: rgb(139, 13, 50);
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat .fc{
  background-color: rgb(104, 9, 38);
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat .bh{
  background-color: rgb(139, 13, 50);
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}