@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* --------------------Page Setup-------------------------------------------------------- */
body, html {
    background-image: url('../Assets/imageedit_6_4868938528.png');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    display: grid;
}

*{
    margin: 0;
    font-weight: 500;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* ------------------------------------------------------------------------------------------------ */




/* ------------------------------Header---------------------------------------------------------- */
.header{
    width: 100%;
    position: fixed;
    height: 4vw;
    background-color: rgb(139,13,50);
    display: inline-flex;
    align-items: center;
    padding: 1 vw;
    z-index: 3;
    transition: 0.2s ease-in-out;
}

#logo{
    width: 8%;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#logo a img {
    height: 45px;
}

#searchbar{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 4vw;
    width: 50%;
}

#searchbar i {
    position: absolute;
    left: 9%;
}


#searchbar input{
    height: 2.5vw;
    border-radius: 30px;
    width: 100%;
    padding-left: 3vw;
}

.header_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vw;
    width: 42%;
}

#header_element{
    background-color: transparent;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;  
    text-decoration: none;
    color: white;
}

#header_element:hover{
    background-color: rgb(104, 9, 38);
}

.account_element{
    background-color: white;
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 10px;
    width: 6vw;
}

.account_element i{
    padding: 10px 5px;
}
.account_element a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.account_element a span{
    color: rgb(139, 13, 50);
    font-size: 0.75rem;
}

.ri-menu-3-line {
    display: none;
}

/* Hide the mobile menu by default */
.mobile-menu {
    display: none;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: rgb(139,13,50);
    transition: top 0.3s ease-in-out;
    z-index: 999;
    padding: 2rem 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    font-size: 1.2rem;
    text-align: center;
}

.mobile-account-element {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.mobile-account-element i {
    padding-right: 10px;
    font-size: 1rem;
    color: white;
}

.mobile-account-element a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.mobile-account-element a span {
    color: white;
    font-size: 1rem;
}

#close-icon {
    display: none;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: -100%;
    cursor: pointer;
}


@media (max-width: 768px) {
    .header{
        width: 100%;
        position: fixed;
        height: 15vw;
        background-color: rgb(139,13,50);
        display: inline-flex;
        align-items: center;
        z-index: 3;
    }
    
    #logo{
        height: 15vw;
        width: 50%;
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    
    #logo a img {
        height: 12vw;
        transform: translate(-6vw, 2.5px);
    }
    
    #searchbar,
    .header_links {
        display: none;
    }

    #menu-icon {
        display: flex;
        height: 15vw;
        color: white;
        font-weight: 400;
        font-size: 2.3rem;
        width: 50%;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
    }

    .mobile-menu {
        display: block;
        top: -100%;
    }
    #close-icon {
        display: none;
        color: white;
        font-size: 1.5rem;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        background-color: rgb(139,13,50);
        border-radius: 50%;
        padding: 10px;
    }
}

/* ------------------------------------------------------------------------------------------------ */






/* ---------------------------Banner--------------------------------------------------------------- */
.banner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(139,13,50) 70%);
    padding: 6vw 8vw 7vw 8vw;
    position: relative;
}

.banner-content {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 6vw 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 100px;
}

#banner-headline {
    font-size: 5.5rem;
}

#bannerP {
    margin-top: 30px;
    font-size: 1.5rem;
    line-height: 40px;
}

#banner-button {
    background-color: rgb(139, 13, 50);
    color: white;
    font-size: 1.2 rem;
    margin-top: 30px;
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px;
    width: 10vw;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;
}

#banner-button:hover {
    background-color: white;
    color: rgb(139, 13, 50);
    transform: scale(1.05);
    border: 2px solid rgb(139, 13, 50);
}

.banner-image {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    position: relative;
    border:8px solid white;
    padding: 6px;
}

.banner-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .banner {
        width: 100vw;
        height: 60vh;
        display: flex;
        align-items: center;
        background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(139,13,50) 70%);
        position: relative;
        margin-top: 13vw;
    }

    .banner-content {
        width: 100%;
        text-align: center;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        line-height: 18vw;
        padding: 0px;
    }

    #banner-headline {
        font-size: 3.5rem;
    }

    #bannerP {
        margin-top: 30px;
        font-size: 1rem;
        line-height: 3vh;
    }

    .banner-image {
        display: none;
    }

    .banner-image img {
        display: none;
    }

    #banner-button {
        background-color: rgb(139, 13, 50);
        color: white;
        font-size: 1.2 rem;
        margin-top: 30px;
        padding: 10px 15px; 
        border: none; 
        border-radius: 5px;
        width: 40vw;
        align-self: center;
        cursor: pointer; 
        transition: background-color 0.3s, transform 0.3s;
    }
}

/* --------------------------------------------------------------------------------------- */



.maincontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
  
.heading, .heading span{
    top: 80px;
    font-size: 64px;
    font-weight: 800;
    width: max-content;
    color: rgb(106, 9, 38);
    overflow: hidden;
    margin: 30px 0;
}

.heading .span2{
    display: none;
}

@media (max-width: 768px) {
    .maincontent{
        display: flex;
        font-weight: 900;
        padding: 2vw 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
      
    .heading{
        font-size: 2rem;
        font-weight: 800;
        width: max-content;
        color: rgb(106, 9, 38);
        overflow: hidden;
        align-self: flex-start;
        display: flex;
        margin-top: 100px;
    }

    .heading span{
        font-size: 2rem;
        font-weight: 800;
        width: max-content;
        color: rgb(106, 9, 38);
        align-self: flex-start;
        display: flex;
        margin-top: -10px;
        padding: 0 10px;
    }

    .heading .span1 {
        display: none;
    }

    .heading .span2 {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        font-weight: 800;
        width: max-content;
        color: rgb(106, 9, 38);
        overflow: hidden;
        align-self: flex-start;
    }
}



/* --------------------News Slider------------------------ */
#bar-copy {
    height: 45px; 
    width: 120px;
}

#bar {
    height: 45px; 
    width: 880px;
}

.slider{
    width: 90%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(203, 21, 76);
    border-radius: 5px;
    background-color: white;
}

.slider .list {
    position: absolute;
    width: 100%; 
    height: 100%;
    display: flex;
    transition: transform 1s ease;
}

.slider .list .item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    align-items: center; 
    padding: 2vh; 
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 0 10px;
}

.slider .list .item .content {
    width: 56%;
    padding: 3.1vh;
}

.slider .list .item .content h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: 700;
    color: #333;
}

.slider .list .item .content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
    color: #555;
}

.slider .list .item .content p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666;
}

.slider .list .item .content ul {
    margin-left: 20px;
    color: #666;
}

.slider .list .item img {
    height: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    object-fit: cover;
}

#buttons-container{
    position: relative;
    width: 100%;
    top: -40vh;
    display: flex;
    justify-content: center;
    bottom: 40%;
    gap: 90vw;
}

#buttons-container button{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    font-size: 1.6rem;
    background-color: rgb(139, 13, 50);
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all 0.5s ease;
}

#buttons-container button:hover{
    background: rgb(203, 21, 76);
    box-shadow: rgb(139, 13, 50) 0px 7px 29px 0px;
    color: hsl(0, 0%, 100%);
}

#buttons-container button:active{
    transform: translateY(-50%) scale(0.85);
    background-color: rgb(104, 9, 38);
    box-shadow: rgb(139, 13, 50) 0px 0px 0px 0px;
    transition: 100ms;
}

.dots{
    position: relative;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.dots li{
    list-style: none;
    width: 0.6vw;
    height: 0.6vw;
    background-color: rgb(203, 21, 76);
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.dots li.active{
    width: 3vw;
}

@media screen and (max-width: 768px) {
    #bar-copy {
        height: 3vh; 
        width: 3vh;
    }
    
    #bar {
        height: 3vh; 
        width: 1;
    }

    .slider{
        width: 90%;
        height: 45vh;
        position: relative;
        overflow: hidden;
        border: 2px solid rgb(203, 21, 76);
        border-radius: 5px;
        background-color: white;
    }

    .slider .list .item .content {
        width: 100%;
        padding: 0.5vh;
    }

    .slider .list .item {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center; 
        padding: 2vh; 
        background: rgba(255, 255, 255, 0.9); 
        border-radius: 8px; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
        margin: 0 10px;
    }

    .slider .list .item .content h1 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #333;
    }
    
    .slider .list .item .content h2 {
        display: none;
    }
    
    .slider .list .item .content p {
        font-size: 0.7rem;
        margin-bottom: 10px;
        color: #666;
    }

    #key-highlights{
        display: none;
    }
    
    .slider .list .item .content ul {
        display: none;
    }

    .slider .list .item img {
        margin-top: 15px;
        height: 40%;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        object-fit: cover;
    }

    #buttons-container{
        position: absolute;
        width: 100%;
        top: 100vh;
        display: flex;
        justify-content: center;
        bottom: 40%;
        gap: 80vw;
    }
    
    #buttons-container button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 1.6rem;
        background-color: rgb(139, 13, 50);
        color: #fff;
        border: none;
        font-family: monospace;
        font-weight: bold;
        cursor: pointer;
        transform: translateY(-50%);
        transition: all 0.5s ease;
    }

    .dots{
        position: relative;
        left: 0;
        color: #fff;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .dots li{
        list-style: none;
        width: 2vw;
        height: 2vw;
        background-color: rgb(203, 21, 76);
        margin: 10px;
        border-radius: 20px;
        transition: 0.5s;
    }
    .dots li.active{
        width: 5vw;
    }
}
  
  /* ------------------------------------------------------- */






/* ------------------------Quote Card -------------------------- */

.container {
    position: relative;
    text-align: center;
    width: 60%; /* Width set to 60% of total width */
    height: 20vw; /* Height set to maintain a 16:9 aspect ratio */
    margin: 100px auto 20vh auto; /* Center container */
    transition: transform 0.5s ease; /* Smooth transition for the effect */
}

.box1 {
    background-color: #f9f9f9; /* Light background color */
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 30px; /* Increased padding for better spacing */
    position: relative; /* To allow shadow effect */
    z-index: 1; /* Keep box1 above shadow */
    margin-bottom: -20px; /* Overlap with shadow */
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
    border: 2px solid rgb(139, 13, 50); /* Add transition for scrolling effect */
}

.box1 img {
    height: 30px;
    margin: 5px;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 13, 50, 0.7); /* Darker shadow for better visibility */
    border-radius: 10px;
    z-index: 0; /* Keep shadow below box1 */
    transition: opacity 0.5s ease; /* Smooth transition for shadow visibility */
    opacity: 1; /* Shadow is visible */
}

/* Control the scrolling effect */
.box1.scrolled {
    transform: translate(-20px, -20px); /* Raise box1 when scrolled */
}

.shadow.scrolled {
    opacity: 1; /* Show shadow when scrolled */
}

@media (max-width: 768px) {
    .container {
        position: relative;
        text-align: center;
        left: 5px;
        width: 85%; /* Width set to 60% of total width */
        height: 50vw; /* Height set to maintain a 16:9 aspect ratio */
        margin: 50px auto 50px auto; /* Center container */
        transition: transform 0.5s ease; /* Smooth transition for the effect */
    }
    
    .box1 {
        background-color: #f9f9f9; /* Light background color */
        border-radius: 10px;
        width: 100%;
        height: 100%;
        padding: 15px; /* Increased padding for better spacing */
        position: relative; /* To allow shadow effect */
        z-index: 1; /* Keep box1 above shadow */
        margin-bottom: -20px; /* Overlap with shadow */
        font-size: 1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        font-weight: 900;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s ease;
        border: 2px solid rgb(139, 13, 50); /* Add transition for scrolling effect */
    }
    
    .box1 img {
        height: 3vh;
        margin: 5px;
    }
    
    .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(139, 13, 50, 0.7); /* Darker shadow for better visibility */
        border-radius: 10px;
        z-index: 0; /* Keep shadow below box1 */
        transition: opacity 0.5s ease; /* Smooth transition for shadow visibility */
        opacity: 1; /* Shadow is visible */
    }
    
    /* Control the scrolling effect */
    .box1.scrolled {
        transform: translate(-20px, -20px); /* Raise box1 when scrolled */
    }
    
    .shadow.scrolled {
        opacity: 1; /* Show shadow when scrolled */
    }
}

/* -------------------------------------------------------------------------- */
  
  
/* ------------------------------card slider--------------------------------- */

.card_slider {
    display: flex;
    padding: 0 35px;
    align-items: center;
    height: 40vh;
    max-width: 90%;
    overflow: visible;
    position: relative;
    margin-bottom: 200px;
}

#left_right_icons {
    display: flex;
    position: absolute;
    text-align: center;
    width: 85vw;
    justify-content: space-between;
}

#left_right_icons i {
    height: 6.5vh;
    width: 6.5vh;
    font-size: 1rem;
    line-height: 50px;
    color: white;
    background-color: rgb(139, 13, 50);
    border: 2px solid rgb(139, 13, 50);
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.23);
    position: relative;
    top: 15px;
    cursor: pointer;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out;
    z-index: 2;
}

.card_slider i:first-child {
    left: -22px;
}

.card_slider i:last-child {
    right: -22px;
}

#left_right_icons i:active {
    transform: translateY(-50%) scale(0.85);
    color: rgb(203, 21, 76);
    background: white;
}

#left_right_icons i:hover {
    color: rgb(203, 21, 76);
    background: white;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-auto-columns: calc((100% / 5) + 10.5px);
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 30px 20px 20px 20px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 35vh;
    width: 33.2vh;
    list-style: none;
    border: 2px solid rgb(106, 9, 38);
    background-color: white;
    cursor: pointer;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    transition: 400ms;
}

.carousel .card:hover {
    transform: translateY(-15px);
    transition: transform 0.3s ease-in-out;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.7);
    transform: scale(1.02, 1.02);
}

.carousel .card.blur {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

.card_slider:hover .card.blur {
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.carousel .card .img {
    background: rgb(139, 13, 50);
    height: 7.6vw;
    width: 7.6vw;
    border-radius: 50%;
}

.card .img img {
    width: 7.2vw;
    height: 7.2vw;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel .card h2 {
    font-weight: 800;
    font-size: 1.2rem;
    margin: 30px 0 5px;
}

.carousel .card span {
    color: #6A6D78;
    font-size: 0.8rem;
}

#carousel_more {
    position: absolute;
    top: 35vh;
    left: 3.5%;
    width: 83vw;
    height: 3vw;
    background-color: rgb(139, 13, 50);
    text-decoration: none;
    color: white;
    padding: 30px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.1s ease-in-out;
}

#carousel_more:hover {
    background-color: rgb(203, 21, 76);
    padding-top: 50px;
}

#heroes-bar-copy {
    height: 45px;
    width: 120px;
}

#heroes-bar {
    height: 45px; 
    width: 870px;
}

@media screen and (max-width: 900px) {
    .card_slider {
        display: flex;
        padding: 0 35px;
        align-items: center;
        height: 40vh;
        max-width: 90%;
        overflow: visible;
        position: relative;
        margin-bottom: 100px;
    }

    #left_right_icons {
        display: flex;
        position: absolute;
        text-align: center;
        width: 75vw;
        justify-content: space-between;
    }

    #left_right_icons i {
        height: 6vh;
        width: 6vh;
        font-size: 1rem;
        line-height: 50px;
        color: white;
        background-color: rgb(139, 13, 50);
        border: 2px solid rgb(139, 13, 50);
        border-radius: 50%;
        box-shadow: 0 1px 2px rgba(0,0,0,0.23);
        position: relative;
        top: 15px;
        cursor: pointer;
        transform: translateY(-50%);
        transition: transform 0.2s ease-in-out;
        z-index: 2;
    }

    #left_right_icons i:active {
        transform: translateY(-50%) scale(0.85);
        background: rgb(203, 21, 76);
    }

    #left_right_icons i:hover {
        color: white;
        background: rgb(139, 13, 50);
    }
    
    .carousel {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-auto-columns: 100%;
        overflow-x: auto;
        overflow-y: visible;
        scroll-snap-type: x mandatory;
        border-radius: 8px;
        scroll-behavior: smooth;
        scrollbar-width: none;
        padding: 30px 20px 20px 20px;
        gap: 10vh;
    }
    
    .carousel .card {
        scroll-snap-align: start;
        height: 35vh;
        width: 36vh;
        list-style: none;
        border: 2px solid rgb(106, 9, 38);
        background-color: white;
        cursor: pointer;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 8px;
        z-index: 1;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
        transition: 400ms;
    }

    .carousel .card:active {
        transform: translateY(-15px);
        transition: transform 0.3s ease-in-out;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.7);
        transform: scale(1.02, 1.02);
    }

    .carousel .card .img {
        background: rgb(139, 13, 50);
        height: 41vw;
        width: 41vw;
        border-radius: 50%;
    }
    
    .card .img img {
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        object-fit: cover;
        border: 4px solid #fff;
    }

    #carousel_more {
        position: absolute;
        top: 35vh;
        left: 11.3%;
        width: 70vw;
        height: 3vw;
        background-color: rgb(139, 13, 50);
        text-decoration: none;
        color: white;
        padding: 30px;
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 0.1s ease-in-out;
    }

    #heroes-bar-copy {
        height: 3vh; 
        width: 3vh;
    }
    
    #heroes-bar {
        height: 3vh; 
        width: 1;
    }
}

/* ----------------------------------------------- */






/* ------------------Reveal---------------- */

@font-face {
    font-family: Founder;
    src: url(FoundersGroteskCondensed-Bold.ttf);
}

@font-face {
    font-family: CardinalR;
    src: url(cardinalfruitweb-regular.ttf);
}

@font-face {
    font-family: Cardinali;
    src: url(cardinalfruitweb-italic.ttf);
}


.reveal-main-p {
    width: 100%;
    height: 100vh;
    background-color: rgb(61, 61, 61);
}

#reveal-main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
    z-index: 4;
    margin-bottom: 500px;
}

#reveal-top {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    overflow: hidden;
}

#reveal-center {
    position: relative;
    width: 100%;
    height: 100vh;
    transform-origin: center;
    background-color: rgb(80, 2, 26);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    overflow: hidden;
}

#reveal-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

#reveal-main h1 {
    font-family: Founder;
    font-size: 22vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reveal-top-h1 {
    bottom: 45% !important;
    color: rgb(139, 13, 50);
}

#reveal-bottom-h1 {
    top: 0% !important;
    color: rgb(139, 13, 50);
}

.reveal-content {
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    gap: 4vh;
}

.reveal-content h4 {
    font-size: 1vw;
    font-family: Founder;
}

.reveal-content h3 {
    width: 22%;
    font-size: 3vw;
    font-family: CardinalR;
    text-align: center;
    font-weight: 400;
}

.reveal-content .reveal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 2vw;
    border-radius: 50px;
    background-color: #fff;
    color: #0d0d0d;
    font-family: Founder;
}

.reveal-content h2 {
    font-size: 20vw;
    font-family: Founder;
}

#space-reveal {
    height: 200px;
    width: 100%;
    margin-top: 265px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(80,2,26) 100%);
}


@media (max-width: 768px) {
    .reveal-main-p {
        width: 100%;
        height: 100vh;
        background-color: rgb(61, 61, 61);
    }
    
    #reveal-main {
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: aquamarine;
        overflow: hidden;
        z-index: 4;
        margin-bottom: 500px;
    }

    #reveal-top-h1 {
        top: 87.5% !important;
        color: rgb(139, 13, 50);
    }
    
    #reveal-bottom-h1 {
        top: 0% !important;
        color: rgb(139, 13, 50);
    }

    .reveal-content {
        margin-top: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        color: #fff;
        gap: 4vh;
    }

    .reveal-content h4 {
        font-size: 6vw;
        font-family: Founder;
    }
    
    .reveal-content h3 {
        width: 65%;
        font-size: 9vw;
        font-family: CardinalR;
        text-align: center;
        font-weight: 400;
    }

    .reveal-content .reveal-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30vw;
        height: 10vw;
        border-radius: 50px;
        background-color: #fff;
        color: #0d0d0d;
        font-family: Founder;
    }

    #space-reveal {
        height: 200px;
        width: 100%;
        margin-top: 265px;
        background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(80,2,26) 100%);
    }
    
}

/* ------------------------------------------------ */



/* -------------------------------courses and workshops-------------------- */

.center-text-course {
    font-size: 15vw;
    font-family: Founder;
    font-weight: bold;
    color: rgb(139, 13, 50);
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container-course {
    position: relative;
    width: 100%;
    height: 250vh;
    margin-top: -400px;
}

.card-course {
    width: 17%;
    padding-bottom: 15px;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 8px; 
    margin-top: 3%;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    background: #fff;
    position: absolute;
    opacity: 0;
}

.card-course:hover {
    box-shadow: 4px 4px 24px black;
    transform: translateY(-30px) scale(1.25);
}


#card-course-1 { top: 10%; left: 10%;}
#card-course-2 { top: 15%; right: 7%; }
#card-course-3 { top: 12%; left: 50%;}
#card-course-4 { top: 38%; right: 12%; }
#card-course-5 { top: 35%; left: 10%;  }
#card-course-6 { top: 75%; right: 55%; }
#card-course-7 { top: 65%; left: 10%;  }
#card-course-8 { top: 70%; right: 30%; }
#card-course-9 { top: 5%; left: 30%;  }
#card-course-10 { top: 55%; right: 5%; }

.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title{   
    text-align: center;  
}

.title h1{
    font-size: 16px;
}

.des{
    padding: 3px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.des button{
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid rgb(139, 13, 50);
    border-radius: 5px;
    padding:10px;
}

.des button:hover{
    background-color: rgb(139, 13, 50);
    color: white;
    transition: .5s;
    cursor: pointer;
}



@media (max-width: 768px) {
    .center-text-course {
        font-size: 18vw;
        font-family: Founder;
        font-weight: bold;
        color: rgb(139, 13, 50);
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .container-course {
        position: relative;
        width: 100%;
        height: 100vh;
        margin-top: -400px;
    }

    #card-course-1 { top: 0%; left: 0%;;}
    #card-course-2 { top: 15%; right: -30%;} 
    #card-course-3 { top: 12%; left: 50%;display: none;}
    #card-course-4 { top: 38%; right: 85%;}
    #card-course-5 { top: 35%; left: 10%;  display: none;}
    #card-course-6 { top: 65%; right: 30%; }
    #card-course-7 { top: 60%; left: 85%; }
    #card-course-8 { top: 70%; right: 30%; display: none;}
    #card-course-9 { top: 5%; left: 30%;  display: none;}
    #card-course-10 { top: 55%; right: 5%; display: none;}

    .card-course {
        width: 50%;
        padding-bottom: 15px;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 8px; 
        margin-top: 3%;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        background: #fff;
        position: absolute;
        opacity: 0;
    }


}


#omkar {
    height: 50vh;
    width: 100%;
    background-color: transparent;
}







/* ------------------------------Only Courses & only Wrokshops-------------------------------- */

#courses-bar-copy {
    height: 45px; 
    width: 120px;
}

#courses-bar {
    height: 45px; 
    width: 250px;
}

#workshop-bar-copy {
    height: 45px; 
    width: 120px;
}

#workshop-bar {
    height: 45px; 
    width: 480px;
}

.knowledge_cards{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    margin: 0px 50px 50px 50px;
    width: 90%;
}

.card_second{
    width: 17%;
    height: 300px;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 8px; 
    margin-top: 3%;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    background: #fff;
}

.card_second:hover {
    box-shadow: 4px 4px 24px black;
    transform: translateY(-15px);
    transform: scale(1.05);
}

#course_more {
    position: relative;
    width: 1350px;
    height: 60px;
    bottom: 100px;
    background-color: rgb(139, 13, 50);
    text-decoration: none;
    color: white;
    padding: 30px 30px 30px 30px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.1s ease-in-out;
    overflow: hidden;
}

#course_more:hover{
    background-color: rgb(203, 21, 76);
    padding-top: 50px;
}

@media (max-width: 768px) {
    #courses-bar-copy {
        height: 3vh; 
        width: 3vh;
    }
    
    #courses-bar {
        height: 3vh; 
        width: 1;
    }

    #workshop-bar-copy {
        height: 3vh; 
        width: 3vh;
    }
    
    #workshop-bar {
        height: 3vh; 
        width: 1;
    }

    .knowledge_cards{
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
        margin: -40px 50px 50px 50px;
        width: 90%;
    }
    
    .card_second{
        width: 100%;
        height: 300px;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 8px; 
        margin-top: 3%;
        z-index: 1;
        transition: transform 0.3s ease-in-out;
        background: #fff;
    }
    
    #course_more {
        position: relative;
        width: 1350px;
        height: 60px;
        bottom: 100px;
        background-color: rgb(139, 13, 50);
        text-decoration: none;
        color: white;
        padding: 30px 30px 30px 30px;
        text-align: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 0.1s ease-in-out;
        overflow: hidden;
    }

}













/* ----------------------------------bottom login ------------------------------------------ */

.login-reg {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

#login-arrow {
    height: 200px;
    right: 340px;
    position: absolute;
}

#login-reg-button {
    background-color: rgb(139, 13, 50);
    color: white;
    font-size: 16px;
    margin-top: 30px;
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px;
    width: 300px;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;
}


#login-reg-button:hover {
    background-color: white;
    color: rgb(139, 13, 50);
    transform: scale(1.05);
    border: 2px solid rgb(139, 13, 50);
}
  




/* -----------------------------------Footer-------------------------------- */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(139,13,50);
    padding: 30px;
}

footer a img {
    height: 50px;
    margin-bottom: 20px;
}

.reference_links a {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    margin: 10px;
}

.reference_links a:hover {
    opacity: 1;
}

.follow_us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(139,13,50);
}

.follow_us h4{
    color: white;
    opacity: 0.7;
    margin-top: 20px;
    margin-bottom: 25px;
    padding-right: 10px;
}

.social-links a {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.social-links a i {
    width: 20px;
    height: 20px;
    padding-left: 3px;
    transition: color 0.3s;
}

.social-links a:hover {
    background-color: white; /* Fill the circle with white */
    color: rgb(139, 13, 50); /* Change the text color */
}

.social-links a:hover i {
    color: rgb(139, 13, 50); /* Make the icon color transparent */
}

.footP {
    margin-top: 60px;
    text-align: center;
    width: 700px;
    color: rgba(255, 255, 255, 0.7);
}

#Bottommost {
    margin-top: 20px;
}













/* -------------------Chatbot---------------- */


.chatbot-toggler {
    position: fixed;
    bottom: 40px;
    right: 45px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(104, 9, 38);
    transition: all 0.2s ease;
    z-index: 21;
}

body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    color: #fff;
    position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
    opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    z-index: 20;
    right: 35px;
    bottom: 110px;
    width: 420px;
    background: #fff;
    border: 2px solid rgb(104, 9, 38);
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.5),
                0 32px 64px -48px rgba(0,0,0,0.8);
    transition: all 0.1s ease;
}

body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: rgb(203, 21, 76);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

header h2 {
    font-size: 1.4rem;
}

.chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.chatbox .chat {
    display: flex;
    list-style: none;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #fff;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: rgb(203, 21, 76);
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    background: rgb(203, 21, 76);
}

.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
}

.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}

.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
}

.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
}

.chat-input span {
    align-self: flex-end;
    color: rgb(203, 21, 76);
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

@media (max-width: 490px) {
    .chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }
    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }
    .chatbot .chatbox {
        height: 90%;
        padding: 25px 15px 100px;
    }
    .chatbot .chat-input {
        padding: 5px 15px;
    }
    .chatbot header span {
        display: block;
    }
}

  