@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Global Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-image: url('../Assets/Picture2.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 30px;
}

/* Registration Container */
.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form Styles */
.registration-form {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
}

/* Form Title */
.form-title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-top: 0px;
}

/* Label Styles */
.form-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* Input Styles */
.form-input {
    padding-left: 10px;
    height: 40px;
    width: 390px;
    border-radius: 5px;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(47, 45, 45);
    font-weight: bold;
    margin-bottom: 20px; /* Add spacing between inputs */
}

/* Password Container */
.password-container {
    position: relative; /* Add relative positioning */
}

/* Eye Icon Styles */
#togglePassword, #toggleConfirmPassword {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.1rem; /* Adjust size as needed */
    color: rgb(139, 13, 50); /* Match your theme */
}

/* Button Styles */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button {
    width: 250px;
    border: 2px solid rgb(139, 13, 50);
    height: 40px;
    border-radius: 50px;
    font-size: 15px;
    color: rgb(139, 13, 50);
    font-weight: 800;
    transition: 0.1s ease-in-out;
}

.submit-button:hover {
    background-color: rgb(139, 13, 50);
    color: white;
}

/* Alternative Action Styles */
.alternative-action {
    text-align: center;
    margin-top: 20px;
}

.alternative-action a {
    color: rgb(139, 13, 50);
    text-decoration: none;
    font-weight: bold;
}